/* Navigation */
#navbar{
    flex-direction: column;
}

#navbar ul li a{
    font-size: 1rem;
    padding: 0px 17px;
    padding-bottom: 8px;
}
/* home */
#home {
    height: 320px;
    padding: 3px 20px;
}

#home::before {
    height: 640px;

}

#home p{
    font-size: 13px;
}

/* videos */
#video{
    flex-direction: column;
}

#videos .box{
    padding: 30px;
    margin: 6px -9px;
}

#video .box iframe {
    height: 130px;
    width: 200px;
    display: block;
    margin: auto;
  }

/* Contact or Register */
#contactbox form{
    width: 80%;
}
/* footer */

/* Utility */
.headprimary{
    font-size: 26px;
}

.btn{
    padding: 4px 10px;
    font-size: 10px;
}